<%=form_tag settings_path, :method => :put do-%>
	<div class="control-group">
		<%=label_tag :slot_count%>
		<%= select_tag :slot_count, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12,13,14], [@active_slots_count])%>
	</div>

	<%=submit_tag 'Submit'%>
<%-end-%>