	<div class="hero-unit span5">
		<h1>A</h1>
		<strong>Contorl Group</strong><br/>
		Control Group, Showing Original Version
	</div>

	<div class="hero-unit span6">
		<h1>B</h1>
		<strong>Test Group</strong><br/>
		<%=@experiment.description %>
	</div>
