
<section class="experiment-list">

    <article class="experiment">

        <header>
            <h1 class="no-pad">Active Experiment</h1>
            <h5 class="pull-right"><%=@slots.count.to_s%> Active Slots</h5>
        </header>

        <%= render :partial => 'slot_machine', :locals => {:slots => @slots} %>

    </article>

    <article class="experiment">

        <header class="row">
            <div class="span10">
                <h2>Pending Experiment</h2>
            </div>
            <div class="span2">
                <a class="btn btn-success btn-large pull-right" href="/experiments/new">New Test</a>
            </div>
        </header>

        <%= render :partial => 'slice_table', :locals => {:experiments => @pending_experiments, :type=> :pending} %>

    </article>

    <article class="experiment">

        <header>
            <h2>Completed Experiments</h2>
        </header>

        <%= render :partial => 'slice_table', :locals => {:experiments => @completed_experiments, :type=> :completed} %>

    </article>

</section>