
<article class="experiment-configure">

    <header>
        <h1>Configure Experiment Slot</h1>
    </header>

    <div class="row">
        <span class="span12">

            <%= form_tag('/experiments', :method => :post, :class => "experiment-configure-form") do %>
                <%= render 'form' %>
            <% end %>

        </span>
    </div>

    <footer>
        <%= link_to 'Back', experiments_path %>
    </footer>

</article>
