// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.experiment-show {
    .hero-unit {
        padding: 10px 30px 20px 30px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}


.row .subtitle{
	padding-top:24px;
}

.small-space-from-top{
	margin-top:10px;
}

.medium-space-from-top{
	margin-top:30px;
}

.large-space-from-top{
	margin-top:50px;
}

.code-comment{
	color:#aaa;
}

pre{
	background-color:#3D3B3B;
	padding:20px;

	.comment{
		color:#5A7C70;
	}

	.function{
		color:white;
	}
	.args{
		color:rgb(216, 201, 26);
	}
	.class-var{
		color:orange;
	}
	.operator{
		color:lightblue;
	}
	.string{
		color:rgb(189, 142, 44);
	}
	.block-do{
		color:lightblue;
	}
}

#error_explanation{
	color:darkred;
}

code {
	font-size: 16px;
}

.label-disabled{
	background-color:#eee;
	color:#999;
	text-shadow: none;
	font-weight:normal;
}

td.error {color:red;}
td.success {color:darkgreen;}
td.warning {color:orange;}
td.disabled {color:#bbb;}